{% extends "articletemplate.html" %}

{% block subject %}Easy as pie!{% endblock %}
{% block title %}<h1 style="font-family: Arial,Helvetica">Easy as &pi;</h1>{% endblock title %}

{% block article-body %}
<p class="normal">
Ieri era il Pi Day, una giornata dedicata alla costante matematica &pi;. Il motivo per cui il 14 marzo è stato scelto come data per il Pi Day è che il valore approssimato di pi è 3,14. Quindi la celebrazione è davvero un gioco di numeri! La giornata si festeggia mangiando una sorta di torta. Per capire perché, si deve comprendere un gioco di parole.
</p>
<p class="normal">
In English, pi (&pi;) is pronounced exactly the same as another word, "pie" (<a target="_blank" href="https://translate.google.com/?sl=en&tl=it&text=pie">Click here</a> to hear it spoken).
</p>
<p class="normal">
Una "pie" è una torta che ha una crosta, solitamente di pasta frolla, ed è ripiena, spesso di frutta o marmellata, ma in altri casi di crema pasticcera, sciroppo o melassa. (Se viaggi in Inghilterra, è probabile che una "pie" che trovi lì sia una torta salata, ripiena di carne invece che di frutta.)
</p>
<p class="normal">
<img src="http://englitalia.us/img/002/pies.png" style="width: 100%;">
</p>
<p class="normal">
Quindi, ecco il gioco:
</p>
<p class="indented italic">
On Pi Day, we eat pie.
</p>
<p class="normal">
Dillo a voce alta!
</p>
<p class="normal">
Come si traduce "pie" in italiano? La maggior parte dei traduttori riporta "torta", ma questo è un problema. La parola "torta" descrive anche "cake". "Cake" e "pie" sono entrambe tipi di torte, ma sono molto diverse. Una "cake" è un alimento morbido, dolce, simile al pane, spesso ricoperto di glassa.  I veri appassionati di pie (e anche di cake) obietterebbero, dicendo:
</p>
<p class="indented italic">
A pie is not a cake!
</p>
<div style="margin: 20px 0;text-align:center; width:100%;">
  <div style="display: inline-block; margin-right: 25px; text-align: center;">
    <div>
      <img src="http://englitalia.us/img/002/applepie.png" style="height: 220px">
    </div>
    <div>
      <span style="font-style: italic;">Apple Pie</span>
    </div>
  </div>
  <div style="display: inline-block; margin-left: 25px; text-align: center;">
    <div>
      <img src="http://englitalia.us/img/002/applecake.png" style="height: 220px">
    </div>
    <div>
      <span style="font-style: italic;">Apple Cake</span>
    </div>
  </div>
</div>
<p class="normal">
La cosa più simile nella cucina italiana a una vera pie è una crostata. In effetti, gli americani che vedono una crostata la chiamerebbero una pie oppure una <i>tart</i>.
</p>
<p class="normal">
There is an expression involving pie that we use quite often in English: "Easy as pie," which means "fatto facilmente".
</p>
<p class="indented">
  Mover: Where would you like us to put this sofa?
  <br/>
  Owner: Can you bring it upstairs to the guest bedroom?
  <br/>
  Mover: Sure, easy as pie!
</p>
<p class="normal">
Non sappiamo dire da dove provenga questa espressione, perché, al contrario, la pie è abbastanza difficile da preparare!
</p>
<p class="normal">
Speriamo che tu abbia trovato questa rubrica illuminante e divertente e che tu possa trovare l'occasione (Pi Day o altro) per mangiare una vera pie!
</p>
<p class="normal">
  Read more about pies and Pi Day:
  <br/>
  <a target="_blank" href="https://englishbyday.com/pie-idioms/">More English pie idioms</a>
  <br/>
  <a target="_blank" href="https://en.wikipedia.org/wiki/Pie">Pie, wikipedia</a>
  <br/>
  <a target="_blank" href="https://en.wikipedia.org/wiki/Pi_Day">Pi Day, wikipedia</a>
</p>
{% endblock article-body %}
