{% extends "articletemplate.html" %}

{% block subject %}Enjoy!{% endblock %}

{% block title %}
<h1><img src="http://englitalia.us/img/003/enjoys.png" style="width:100%"></h1>
{% endblock title %}

{% block article-body %}
<p class="normal">
"Enjoy" è facile da capire ma difficile da utilizzare correttamente.
Non c'è una sola parola in italiano che corrisponda a "Enjoy!"
</p>
<p class="normal">
In some sentences it means the same as "to like", for example:
</p>
<table style="table-layout:fixed; width: 100%; text-align:center;"><tbody><tr>
  <td style="padding: 15px; background-color: #fff8f4">
    We enjoy gardening.<br/>
    =<br/>
    We like gardening.
  </td>
  <td style="padding: 15px; background-color: #f2faff">
    <i>Ci piace il giardinaggio.</i>
  </td>
</tr></tbody></table>
<br/>
<table style="table-layout:fixed; width: 100%; text-align:center;"><tbody><tr>
  <td style="padding: 25px; background-color: #fff8f4">
    She enjoys cooking for others, but not for herself.<br/>
    =<br/>
    She likes cooking for others, but not for herself.
  </td>
  <td style="padding: 15px; background-color: #f2faff">
    <i>Le piace cucinare per altri, ma non cucinare per se stessa.</i>
  </td>
</tr></tbody></table>
</p>
<p class="normal">
But to enjoy something has a deeper meaning than just to like it.  <b>To enjoy something means
to experience it,</b> whether an activity or a sensation, <b>and to gain pleasure from it</b> – even 
joy, as the word suggests.
</p>
<p class="normal">
  <img src="http://englitalia.us/img/003/joy.png" alt="Enjoy" style="width:100%">
</p>
<p class="normal">
You can like something at any given moment, but <b>to enjoy something, you must
experience it over time.</b>
</p>
<table style="table-layout:fixed; width: 100%; text-align:center;"><tbody><tr>
  <td style="padding: 15px; background-color: #fff8f4">
    I liked my history teacher last semester.
  </td>
  <td style="padding: 15px; background-color: #f2faff">
    Potrebbe semplicemente significare che pensavo fosse una brava insegnante.
  </td>
</tr></tbody></table>
<table style="table-layout:fixed; width: 100%; text-align:center;"><tbody><tr>
  <td style="padding: 15px; background-color: #fff8f4">
    I <b>enjoyed</b> my history teacher last semester.
  </td>
  <td style="padding: 15px; background-color: #f2faff">
    Probabilmente mi sono divertito durante le lezioni dell'insegnante e ho apprezzato il suo stile di insegnamento.
  </td>
</tr></tbody></table>
<br/>
<table style="table-layout:fixed; width: 100%; text-align:center;"><tbody><tr>
  <td style="padding: 15px; background-color: #fff8f4">
    They like reggae music.
  </td>
  <td style="padding: 15px; background-color: #f2faff">
    <i>A loro piace la musica reggae.</i>
  </td>
</tr></tbody></table>
<table style="table-layout:fixed; width: 100%; text-align:center;"><tbody><tr>
  <td style="padding: 15px; background-color: #fff8f4">
    They <b>enjoy</b> reggae music.
  </td>
  <td style="padding: 15px; background-color: #f2faff">
    Probabilmente passano molto tempo ad ascoltare la reggae! &#127929;&#127928;
  </td>
</tr></tbody></table>
<p class="normal">
Sometimes to like something just means to have a positive opinion of it.  In these cases, "enjoy" doesn't fit.
</p>
<table style="table-layout:fixed; width: 100%; text-align:center;"><tbody><tr>
  <td style="padding: 15px; background-color: #fff8f4">
    <span style="color:green">&#x2713;</span>
    They like the idea of driving there rather than walking.
  </td>
  <td style="padding: 15px; background-color: #f2faff">
    <i>A loro piace l’idea di guidare piuttosto che camminare.</i>
  </td>
</tr></tbody></table>
<table style="table-layout:fixed; width: 100%; text-align:center;"><tbody><tr>
  <td style="padding: 15px; background-color: #fff8f4">
    <span style="color:red;font-weight:600">&#x2715;</span>
    They <span style="text-decoration:line-through">enjoy</span>
    the idea of driving there rather than walking.
  </td>
  <td style="padding: 15px; background-color: #f2faff">
    Non va bene perché un'idea non è un'esperienza.
  </td>
</tr></tbody></table>
<p class="normal">
"To enjoy" can also mean "godere".
</p>
<table style="table-layout:fixed; width:100%; text-align:center;"><tbody><tr>
  <td style="padding: 15px; background-color: #fff8f4">
    We are fortunate to live in a world where so many can enjoy health and a long life.
  </td>
  <td style="padding: 15px; background-color: #f2faff">
    Siamo fortunati a vivere in un mondo in cui così tanti possono godere della salute e di una lunga vita.
  </td>
</tr></tbody></table>
<p class="normal">
Another difference between "like" and "enjoy" is grammatical.  (We don't like to discuss
grammar, but sometimes you can't avoid it!)  It is OK to say...
</p>
<p class="indented">
  <span style="color:green">&#x2713;</span>
  My dog likes to gaze at the full moon.
</p>
<p class="normal">
  ...but the following is bad English:
</p>
<p class="indented">
  <span style="color:red;font-weight:600">&#x2715;</span>
  My dog <span style="text-decoration:line-through">enjoys to gaze</span> at the full moon.
</p>
<p class="normal">
  Instead, you must use the "-ing" form of a verb after enjoy:
</p>
<p class="indented">
  <span style="color:green">&#x2713;</span>
  My dog enjoys gazing at the full moon.
</p>
<p class="normal">
Concludiamo con un altro caso dell'uso di "enjoy". Sei in un ristorante da qualche parte negli Stati Uniti. Il cameriere ti porta un piatto, te lo mette davanti e dice...
</p>
<p class="normal" style="text-align: center;">
  <img src="http://englitalia.us/img/003/enjoy.png" alt="Enjoy" style="width:180px">
</p>
<p class="normal">
Il cameriere ti augura che l'esperienza di mangiare sia piacevole. Questo è semplicemente il nostro modo di dire "Buon appetito!"
</p>
<p class="normal">
We hope that you enjoyed reading this!
</p>
{% endblock article-body %}
