{% extends "articletemplate.html" %}

{% block subject %}When it happens...{% endblock %}

{% block title %}
<table style="table-layout:fixed; width: 100%; text-align:center;"><tbody><tr>
  <td style="padding: 15px;">&nbsp;
  </td>
  <td style="padding: 10px;">
    <img src="http://englitalia.us/img/004/timer.png" style="width:100px">
  </td>
  <td style="text-align:left; padding:25px 10px 0;">
    <h1>When it happens...</h1>
  </td>
  <td style="padding: 15px;">&nbsp;
  </td>
</tr></tbody></table>
{% endblock title %}

{% block article-body %}
<div style="padding: 8px 0;">
  <p class="normal">
    Partiamo da una semplice frase:
  </p>
  <p class="indented">
    <b>Ti telefono quando torno a casa.</b>
  </p>
  <p class="normal">
    In inglese, ecco:
  </p>
  <p class="indented">
    <b><span style="color:blue">I'll call you</span> when <span style="color:orange">I get back home.</span></b>
  </p>
  <p class="normal">
    Guarda bene! L'intera frase descrive qualcosa che dovrebbe accadere in futuro, ma metà della frase è espressa al <span style="color:orange">presente</span> e l'altra metà al <span style="color:blue">futuro.</span>
  </p>
  <p class="normal">
    Questo potrebbe sembrare strano, ma è corretto.  In effetti, è una regola.
  </p>
  <p>
    <i>When you use "when" + verb to refer to an event that is expected to happen, you use the present tense…</i>
  </p>
  <p class="indented">
    <b>When <span style="color:orange">the mail comes tomorrow, …</span></b>
    <br/><i>(We expect this to happen tomorrow.)</i>
  </p>
  <p class="indented">
    <b>When <span style="color:orange">the semester is done, …</span></b>
    <br/><i>(We expect this some number of days from now.)</i>
  </p>
  <p class="indented">
    <b>When <span style="color:orange">I finally get through this pile of work, …</span></b>
    <br/><i>(who knows?)</i>
  </p>
  <p class="normal">
    <i>…while in the dependent part of the sentence, you use the future tense:</i>
  </p>
  <p class="indented">
    <b>… <span style="color:blue">I will look for your letter.</span></b>
  </p>
  <p class="indented">
    <b>… <span style="color:blue">Francesca will have earned enough credits to graduate.</span></b>
  </p>
  <p class="indented">
    <b>… <span style="color:blue">we will celebrate!</span></b>
  </p>
  <div style="text-align:center">
    <img src="http://englitalia.us/img/004/timer.png" style="width:20px">
  </div>
</div>
<div style="padding: 8px; 0">
  <p class="normal">
    In italiano possiamo tradurre tutta la frase al futuro senza cambiarne il significato.
  </p>
  <p class="indented">
    <b>Ti telefonerò quando tornerò a casa.</b>
  </p>
  <p class="normal">
    Ma lo stesso non vale in inglese:
  </p>
  <p class="indented">
    <b>I'll call you when I <span style="color:red">will return</span> home.</b>
    <br/><i>(No, that's bad English!)</i>
  </p>
  <p class="indented">
    <b>I'll call you when I return home.</b>
    <br/><i>(This is the correct form.)</i>
  </p>
  <p class="normal">
    Anche gli italiani che studiano l'inglese da un po' di tempo commettono questo errore!
  </P>
  <p class="normal">
    La regola vale anche se si inverte l'ordine delle due parti della frase.
  </p>
  <p class="indented">
    <b>When I get back home, I'll call you.</b>
  </p>
  <div style="text-align:center">
    <img src="http://englitalia.us/img/004/timer.png" style="width:20px">
  </div>
</div>
<div style="padding: 8px; 0">
  <p class="normal">
    Ecco altri esempi:
  </p>
  <p class="indented">
    When <span style="color:orange">you come to Boston,</span> <span style="color:blue">I will take you to a great seafood restaurant.</span>
    <br/>
    Quando verrai a Boston, ti porterò in un ottimo ristorante di pesce.
  </p>
  <p class="indented">
    I hope that <span style="color:blue">you'll be at the station</span> when <span style="color:orange">I arrive.</span>
    <br/>
    Spero che sarai in stazione quando arriverò.
  </p>
  <p class="indented">
    Do you think that <span style="color:blue">Alberto and Bianca will come along</span> when <span style="color:orange">we visit the art museum?</span>
    <br/>
    Pensi che Alberto e Bianca verranno con noi quando visiteremo il museo d'arte?
  </p>
  <p class="normal">
    Si usa "if" invece di "when" per esprimere una condizione invece di un'aspettativa.  La forma è la stessa.
  </p>
  <p class="indented">
    If <span style="color:orange">it rains tomorrow night,</span> <span style="color:blue">we'll watch a movie instead.</span>
    <br/>Se domani sera piove, guardiamo un film invece.
  </p>
  <p class="indented">
    If <span style="color:orange">the shop is closed when we get there,</span> <span style="color:blue">we'll have to return in the morning.</span>
    <br/>Se il negozio è chiuso quando arriviamo, dovremo tornare in mattinata.
  </p>
</div>
<div style="padding: 8px; 0">
  <p class="normal">
    When we think of more examples, we'll let you know!
  </p>
</div>
{% endblock article-body %}
