{% extends "articletemplate.html" %}

{% block subject %}Getting to know you{% endblock %}

{% block title %}
<div style="position:relative">
  <div style="background-size: 330px 230px;
      background-image: url(http://englitalia.us/img/005/korney-violin-B6iHcrsxnKE-unsplash.jpg);
      padding-top:20px; background-repeat: no-repeat; 
      background-position: center; height:230px; text-align:center; color:#eee278; font-size:24px">Getting to know you</div>
</div>
{% endblock title %}

{% block article-body %}
<div style="padding: 8px 0;">
  <p class="normal">
    Ciao a tutti!
    &#x1F44B;
  </p>
  <p class="normal">
    Oggi parliamo di alcune delle frasi che usiamo per "conoscere qualcuno" in inglese.
  </p>
  <p class="normal">
    Ogni studente di inglese sa tradurre questa frase:
  </p>
  <p class="indented">
    <span style="color:#080">Conosco un ottimo artista che vive nella mia città.</span>
  </p>
  <p class="indented">
    <span style="color:blue">I <b>know</b> a great artist who lives in my town.</span>
  </p>
  <p class="normal">
    Ma non é anche questa una traduzione valida?
  </p>
  <p class="indented">
    <span style="color:blue">I <b>met</b> a great artist who lives in my town.</span>
  </p>
  <p class="normal">
    Qual è la differenza? Un madrelingua inglese distingue tra qualcuno che ha soltanto incontrato e qualcuno che conosce bene, cioè qualcuno con cui ha parlato e con cui ha passato del tempo.
    Incontrando una persona per la prima volta, non la si può conoscere a fondo.
    Un italiano potrebbe dire "conosco un artista" anche se ha incontrato l'artista solo una volta.
    Un madrelingua inglese probabilmente utilizzerà la prima frase solo se conosce <i>bene</i> l'artista.
  </p>
  <p class="normal">
  Non è interessante che in italiano quando ci incontriamo per la prima volta potremmo dire questo?
  </p>
  <p class="indented">
    <span style="color:#080">È un piacere conoscerti!</span>
  </p>
  <p class="normal">
    ...mentre in inglese diciamo:
  </p>
  <p class="indented">
    <span style="color:blue">Nice to <i>meet</i> you!</span> &nbsp; or...<br/>
    <span style="color:blue">Pleased to <i>meet</i> you!</span>
  </p>
  <p class="normal">
    We don't say that we know each other yet.  "To know someone" is just a bit stronger than
    "conoscere qualcuno."
  </p>
  <div style="text-align:center">
    <span style="color:blue">&#x2b22;</span>&nbsp;<span style="color:red">&#x2b23;</span>&nbsp;<span style="color:green">&#x2b22;</span>
  </div>
</div>

<div style="padding: 8px 0;">
  <p class="normal">
  In effetti, possiamo usare la parola conoscere per qualcuno che non abbiamo mai incontrato! E se non avessi mai incontrato l'artista, ma ne avessi studiato le opere, magari parlato con altri che lo conoscono, non potresti dire che conosci l'artista?
  </p>
  <p class="normal">
  In questo caso, è più probabile che un madrelingua inglese dica:
  </p>
  <p class="indented">
    <span style="color:blue">I know <b>of</b> a great artist who lives in my town.
</span>
  </p>
  <div style="text-align:center">
    <span style="color:blue">&#x2b22;</span>&nbsp;<span style="color:red">&#x2b23;</span>&nbsp;<span style="color:green">&#x2b22;</span>
</div>
<div style="padding: 8px 0;">
  <p class="normal">
  Diamo un'occhiata a un'altra frase che utilizza il verbo “conoscere”, questa abbastanza semplice:
  </p>
  <p class="indented">
    <span style="color:#080">Ci conosciamo.</a>
  </p>
  <p class="normal">
    Puoi tradurre questo in più di un modo:
  </p>
  <p class="indented">
    <span style="color:blue">We <b>know</b> each other.</span><br/>
    <span style="color:blue; text-decoration: line-through;">We know us.</span>  &nbsp;  <i>(bad English!)</i><br/>
    <span style="color:blue; text-decoration: line-through;">We know ourselves.</span>  &nbsp; <i>(better English, but a bad translation)</i><br/>
    <br/>
    <span style="color:blue">We have <b>met</b> each other.</span> &nbsp; <i>(or simply…)</i><br/>
    <span style="color:blue">We have <b>met</b>.
  </p>
  <p class="normal">
    Aggiungiamo un periodo di tempo alla frase:
  </p>
  <p class="indented">
    <span style="color:#080">Ci conosciamo da 7 anni.</span>
  </p>
  <p class="indented">
    <span style="color:blue">We have known each other for 7 years.</span><br/>
    <i>...which could be another way of saying…</i><br/>
    <span style="color:blue">We met 7 years ago.</span>
  </p>
  <div style="text-align:center">
    <span style="color:blue">&#x2b22;</span>&nbsp;<span style="color:red">&#x2b23;</span>&nbsp;<span style="color:green">&#x2b22;</span>
  </div>
</div>
<div style="padding: 8px 0;">
  <p class="normal">
    Ecco un altro caso. Romeo dice a Giulietta:
  </p>
  <p class="indented">
    <span style="color:#080">Vorrei conoscere i tuoi genitori.</span>
  </p>
  <p class="normal">
    Come avrai capito, questa frase può essere tradotta in più di un modo, a seconda della situazione. Se Romeo non ha mai incontrato i genitori di Giulietta, la traduzione migliore sarebbe:
  </p>
  <p class="indented">
    <span style="color:blue">I would like to meet your parents.</span>
  </p>
  <p class="normal">
    Nel caso invece Romeo abbia già incontrato i genitori di Giulietta e voglia chiedere di conoscerli meglio, l’espressione inglese più corretta è:
  </p>
  <p class="indented">
    <span style="color:blue">I would like to <b>get to know</b> your parents.</span>
  </p>
  <p class="normal">
    "To get to know someone" è il modo in cui esprimiamo la volontà di trascorrere
    del tempo con qualcuno al fine di conoscerlo bene, anche di diventare amici.
  </p>
  <p class="normal">
    It's a good phrase to know!
  </p>
  <div style="text-align:center">
    <img src="http://englitalia.us/img/005/harli-marten-M9jrKDXOQoU-unsplash.jpg"
        style="width:300px"/>
  </div>
</div>

<div style="padding: 8px; 0">
  <p class="normal">
    We would like to get to know you, too!
  </p>
  <p class="normal">
    Please send us your comments, questions, and ideas for future topics!
    Email: <a href="mailto:email@englitalia.us">email@englitalia.us</a>
    or simply reply to this email.
  </p>
</div>
{% endblock article-body %}

{% block credits %}
  <p style="text-align:center; font-size:10px">
    Photos by
    <a href="https://unsplash.com/@harlimarten?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Harli Marten</a>
    and <a href="https://unsplash.com/@reka?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Korney Violin</a>,
    on <a href="https://unsplash.com">Unsplash</a>
  </P>
{% endblock credits %}
