{% extends "articletemplate.html" %}

{% block subject %}Do Tell!{% endblock %}

{% block title %}
<div style="margin-bottom: 10px; text-align:center; letter-spacing: 0.2em;"">
  <img src="http://englitalia.us/img/006/tell.jpg" style="height:210px">
  <br/>
  <br/>
  <span style="color:#e2c2ab; font-weight: 600; font-size:36px">Do Tell!</span>
</div>
{% endblock title %}

{% block article-body %}
<div style="padding: 8px 0;">
  <p class="normal">
    Ciao a tutti!
    &#x1F44B;
  </p>
  <p class="normal">
    Oggi ci concentriamo sulla parola inglese "tell". "Tell" è una parola abbastanza comune, che ha diversi
    significati e usi peculiari.  Quindi, vale la pena saper usare "tell".
    (Ed è più facile che imparare a tirare con l'arco, come aver fatto Tell.)
  </p>
  <p style="color: #e2c2ab; font-weight:600; font-size:24px">tell: casi comuni</p>
  <p class="normal">
    "Tell" è spesso confuso con "say", perché "dire qualcosa" è meglio tradotto come "say something" mentre "dire qualcosa a qualcuno" è generalmente meglio tradotto come "to tell someone".
  </p>
  <p class="normal">
    Ecco un esempio di utilizzo di entrambe le traduzioni di "dire" in una stessa frase.
  </p>
  <p class="indented">
    <span style="color:#080">
      Cosa diresti se ti dicessi che non sono d'accordo?
    </span>
    <br/>
    <span style="color:blue">
      What would you <b>say</b> if I <b>told</b> you that I disagreed?
    </span>
  </p>
  <p class="normal">
    Altri esempi del uso di "tell":
  </p>
  <p class="indented">
    <span style="color:#080">
      Di' alla mamma che tornerò in tempo per la cena.
    </span>
    <br/>
    <span style="color:blue">
      <b>Tell</b> Mom I'll be back in time for dinner.
    </span>
  </p>
  <p class="indented">
    <span style="color:#080">
      Te lo dico, è stato il miglior pollo fritto che abbia mai mangiato!
    </span>
    <br/>
    <span style="color:blue">
      I'm <b>telling</b> you, that was the best fried chicken I have ever eaten!
    </span>
  </p>
  <p class="indented">
    <span style="color:#080">
      È sempre meglio dire la verità.
    </span>
    <br/>
    <span style="color:blue">
      It's always better to <b>tell</b> the truth.
    </span>
  </p>
  <p class="normal">
    Anche nel senso di "dire a qualcuno di fare qualcosa", "tell" è la parola giusta da usare per "dire".
  </p>
  <p class="indented">
    <span style="color:#080">
      Il dottore mi ha detto di mangiare meno formaggio.
    </span>
    <br/>
    <span style="color:blue">
      The doctor <b>told</b> me to eat less cheese.
    </span>
  </p>
  <p class="indented">
    <span style="color:#080">
      "Se tu avessi fatto quello che ti avevo detto, non saremmo in questo pasticcio!" disse Ollio a Stanlio.
    </span>
    <br/>
    <span style="color:blue">
      "If you did what I <b>had told</b> you, we wouldn't be in this mess!" said Ollie to Stan.
    </span>
  </p>
  <p class="normal">
    "Tell" può significare raccontare:
  </p>
  <p class="indented">
    <span style="color:#080">
      Raccontaci della tua vacanza in Canada.
    </span>
    <br/>
    <span style="color:blue">
      <b>Tell</b> us about your vacation in Canada.
    </span>
  </p>
  <p class="indented">
    <span style="color:#080">
      Quando eravamo piccoli, nostro padre ci raccontava sempre una favola della buonanotte.
    </span>
    <br/>
    <span style="color:blue">
      When we were little, our father always <b>told</b> us a bedtime story.
    </span>
  </p>
  <p class="normal" style="text-align:center">
    &#x27B3; &#x1F34E;
  </p>
  <p style="color: #e2c2ab; font-weight:600; font-size:24px">tell: casi meno comuni</p>
  <p class="normal">
    "Tell" come insegnare:
  </p>
  <p class="indented">
    <span style="color:#080">
      Cosa ti ha insegnato quell'esperienza sull'acquisto di cose su Internet?
    </span>
    <br/>
    <span style="color:blue">
      What did that experience <b>tell</b> you about buying stuff on the internet?
    </span>
  </p>
  <p style="normal">
    "Tell" ha anche questo significato molto particolare: come far sapere, oppure sentire, percepire:
  </p>
  <p class="indented">
    <span style="color:#080">
      Come si fa a sapere quando mente qualcuno?
    </span>
    <br/>
    <span style="color:blue">
      How do you tell when someone is lying?
    </span>
  </p>
  <p class="indented">
    <span style="color:#080">
      Riesco a vedere che stai nascondendo qualcosa; è scritto sulla tua faccia.
    </span>
    <br/>
    <span style="color:blue">
      I can <b>tell</b> that you're hiding something; it's written all over your face.
    </span>
  </p>
  <p class="normal">
    "To tell apart" significa distinguere.
  </p>
  <p class="indented">
    <span style="color:#080">
      I gemelli Sassi si somigliano così tanto, non riesco a distinguerle!
    </span>
    <br/>
    <span style="color:blue">
      The Sassi twins look so much alike, I can't tell them apart!
    </span>
    <br/>
  </p>
  <p class="normal">
    "To tell one from another" ha un significato simile.
  </p>
  <p class="indented">
    <span style="color:#080">
      In Norvegia in inverno è difficile distinguere la notte dal giorno.
    </span>
    <br/>
    <span style="color:blue">
      In Norway in wintertime, it's hard to tell night from day.
    </span>
    <br/>
  </p>
  <p class="normal">
    "To tell time" significa leggere l'orologio.
  </p>
  <p class="indented">
    <span style="color:#080">
      I cani non sanno leggere l'orologio! Come fa il mio a sapere sempre quando sono le 5?
    </span>
    <br/>
    <span style="color:blue">
      Dogs can't tell time!  How does mine always know when it's 5:00?
    </span>
    <br/>
  </p>
  <p class="normal" style="text-align:center">
    &#x27B3; &#x1F34E;
  </p>
  <p class="normal">
    The title of this page, "Do Tell!" is a way of saying "Dillo!" or "Dimmi!"
  </p>
  <p class="normal">
    <b style="color:#400;font-size:16px">Do tell</b> us what you think of these articles!
    We are always open to your suggestions for topics.
    Email: <a target="_blank" href="mailto:email@englitalia.us">email@englitalia.us</a>
    or reply to this email.
  </p>
  <p class="normal">
    <b style="color:#400;font-size:16px">Do tell</b> a friend about englitalia!
    Share this link: <a target="_blank" href="http://englitalia.us">englitalia.us</a>
  </p>
</div>
{% endblock article-body %}
